*.iml
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
build
.gradle/
.idea/
.settings/
bin
gen/
*.apk
*.ap_
*.dex
*.class
.DS_Store
gradle.properties
*.iml